@model Last.Models.job

@{
    ViewBag.Title = "الحذف";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>الحذف</h2>

<h3>       هل انت متاكد من الحذف؟</h3>
<div>
    <h4>job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobImage)
        </dt>

        <dd>
           <img src="~/Uploads/@Html.DisplayFor(model=>model.jobImage)"class="thumbnail"
                style="width:48px;height:48px" />
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="تاكيد الحذف" class="btn btn-danger" /> |
            @Html.ActionLink(" العودة الي القائمة ", "Index")
        </div>
    }
</div>
